<a href="https://colab.research.google.com/github/tzuying-chen/ML_100days/blob/main/Day_004_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import os
import numpy as np
import pandas as pd

In [7]:
# 設定 data_path
dir_data = '/content/drive/MyDrive/Colab Notebooks/ML_100days/HomeCredit_columns_description.csv'

In [12]:

df = pd.read_csv(dir_data, encoding= 'unicode_escape')

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [14]:
df.shape

(219, 5)

#### 列出所有欄位

In [15]:
df.columns

Index(['Unnamed: 0', 'Table', 'Row', 'Description', 'Special'], dtype='object')

#### 截取部分資料

In [16]:
df.head()

   Unnamed: 0  ... Special
0           1  ...     NaN
1           2  ...     NaN
2           5  ...     NaN
3           6  ...     NaN
4           7  ...     NaN

[5 rows x 5 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [17]:
df.isna

<bound method DataFrame.isna of      Unnamed: 0  ...                                Special
0             1  ...                                    NaN
1             2  ...                                    NaN
2             5  ...                                    NaN
3             6  ...                                    NaN
4             7  ...                                    NaN
..          ...  ...                                    ...
214         217  ...                                    NaN
215         218  ...  time only relative to the application
216         219  ...  time only relative to the application
217         220  ...                                    NaN
218         221  ...                                    NaN

[219 rows x 5 columns]>